h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
body{
  height:100%
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  height: 100%;
}
.row {
  height:100%;
  overflow: hidden;
}
.container{
  height:100%
}
