{% extends 'base.html' %}

{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h1>{% block title %} {% endblock %}</h1>
    <div class="row">
     <div class="col-md-6">
         <div class="chart" id="bargraph">
         </div>
     </div>
      <div class="col-md-6">
        <div class="chart" id="scatterplot">
        </div>
      </div>
    </div>
    <div class="row" id="WHAHAWAH">
      <div class="col-md-12">
         <div class="chart" id="table">
           </div>
     </div>
    </div>
    <script type='text/javascript'>
      <!-- Scatter plot -->
      var scatter_data = {{scatter | safe}};
      Plotly.plot('scatterplot',scatter_data,{});
      var scatter = document.getElementById('scatterplot');
      scatter.on('plotly_click', function(selection){
        update_table(selection)
      });
      <!-- Bar-chart -->
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
      <!-- Table -->
        var graphs = {{table | safe}};
        Plotly.plot('table',graphs,{});
        var points = [];
      function update_table(selection) {
        points.indexOf(selection.points[0].customdata) === -1 ? points.push(selection.points[0].customdata) : console.log("This item already exists");
        $.getJSON({ url: "/scatter_update_sold_table", data: {'data': points} , traditional: true, success: function (response) {
          Plotly.newPlot('table', response, {});
          var table_div = document.getElementById('table');
          table_div.on('plotly_click', function(scatter_data){
              update_table(scatter_data)
          });
        }
        });
      }
      function update_scatter_plot(selection) {
        points.indexOf(selection.points[0].customdata) === -1 ? points.push(selection.points[0].customdata) : console.log("This item already exists");
        $.getJSON({ url: "/callback", data: {'data': points} , traditional: true, success: function (response) {
          Plotly.newPlot('scatterplot', response, {});
          var scatter = document.getElementById('scatterplot');
          scatter.on('plotly_click', function(scatter_data){
              update_scatter_plot(scatter_data)
          });
        }
        });
      }
    </script>
{% endblock %}
