{% extends 'base.html' %}

{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <h1>{% block title %} Hemnet-data {% endblock %}</h1>
    <div class="row">
     <div class="col-md-6">
         <div class="chart" id="bargraph">
           <script type='text/javascript'>
             var graphs = {{plot | safe}};
             Plotly.plot('bargraph',graphs,{});
           </script>
       </div>
     </div>
     <div class="chart" id="scatterplot">
       <script type='text/javascript'>
         var graphs = {{scatter | safe}};
         Plotly.plot('scatterplot',graphs,{});
       </script>
   </div>
    </div>
{% endblock %}
